.navbar-wrapper {
    display: flex;
    justify-content: center;
    background: #3FA2F6;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.1em;
    color: #fff;
    border-bottom: 1px solid #0b87f4;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.main-header {
    display: inline-block;
    font-size: 2em;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 20px;
    transition-duration: 0.4s;
}

.main-header:hover,
.main-header:focus-within {
    color: #b6dbfc;
    cursor: pointer;
    transition: all 0.4s ease;
}

.edit-header {
    display: inline-block;
    font-size: 2em;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 20px;
}
  
.navbar-wrapper ul {
    background: #3FA2F6;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.navbar-wrapper li {
    background: #3FA2F6;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.4s;
}
  
.navbar-wrapper li:hover,
.navbar-wrapper li:focus-within {
    background: #0F67B1;
    cursor: pointer;
}
  
.navbar-wrapper li:focus-within a {
    outline: none;
}
  
.navbar-wrapper ul li ul {
    background: #3FA2F6;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    width: 100%;
    position: absolute;
    transition: all 0.4s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
.navbar-wrapper ul li:hover > ul,
.navbar-wrapper ul li:focus-within > ul,
.navbar-wrapper ul li ul:hover,
.navbar-wrapper ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
}
  
.navbar-wrapper ul li ul li {
    clear: both;
    width: 120%;
    font-size: 1em;
    padding-left: 0px;
    padding-right: 0px;
}
  
.navbar-wrapper a {
    text-decoration: none;
}

li.visualize {
    font-style: bold;
}